
button {
    cursor: pointer;
    border: 1px solid #CCBCBC;
    margin: 15px;
    width: 200px;
    height: 50px;
    background-color: #CCBCBC;
    color: #2D3142;
    transition: all 0.1s ease-in;
    text-align: center;
  }
   
  button:hover {
    background: #F1E3E4;
    color: #2D3142;
  }

  p > button {
    cursor: pointer;
    border: 1px solid #2D3142;
    margin: 15px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    background-color: #2D3142;
    font-weight: bold;
    color: #CCBCBC;
    transition: all 0.1s ease-in;
  }
   
  p > button:hover {
    background: #2D3142;
    color: #F1E3E4;
    border-color: #BB9BB0;
  }

  div {
     display: inline-block;
     text-align: center;
  }

  p{
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    color: #DECED9; 
    font-weight: bold;  
}

#root > div > p {
    font-size: 30px;
    margin: 10px 0px 0px 0px;
}

body{
    background: #1C1D21;
}